<div class="container" id="hidden">
  <div class="shadow rounded-4 mx-5 my-3 p-4 row d-flex">
    <div class="col-12 col-md-5">
      <label class="form-label">
        <h3 class="fw-bold pt-3 pb-4 mb-0"><!--{{ budgets.name }}--></h3>
        <p class='mb-0 text-secondary'><!--{{ budgets.email }}--></p>
        <p class="text-secondary"><!--{{ budgets.phone }}--></p>
      </label>
    </div>
    <div class="col-12 col-md-3">
      <label class="form-label">
        <h5 class="fw-bold pt-3 pb-4 mb-0">Serveis contractats:</h5>
        <p class="mb-0"><!--{{ budgets.services }}--></p>
      </label>
    </div>
    <div class="col-12 col-md-3 text-center d-flex align-items-center justify-content-end">
      <label class="form-label">
        <h5 class="fw-bold text-secondary mb-0">Total:</h5>
        <span class="price-bold"><!--{{ totalBudget }}--></span>
        <span class="currency">€</span>
        <p></p>
      </label>
    </div>
  </div>
</div>
