.main-title{
  background-image: url("../../assets/imgs/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  color: rgb(68, 19, 1)
}
